CF_ROOT_ZONE='' # Root domain
CF_EMAIL='' #Cloudflare Login email 
CF_API_KEY='' #Cloudflare API Key, get it here https://dash.cloudflare.com/profile/api-tokens
CF_DOMAIN='' # Domain to change IP address of
DELAY='600' #Defines how often to check and update IP address 

WHATISMYIP='https://whatismyip.shihaam.me' #Any website that returns vistor IP address
CF_API_URL='https://api.cloudflare.com/client/v4' #prolly dont need to change this
